@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(75, 20, 138);
    color: azure;
}

#counter button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(184, 181, 10);
    background-color: rgb(236, 235, 134);
    color: rgb(0, 217, 255);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#counter{
    display: flex;
}

#currentNumber{
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
    font-weight: bold;
}

.negative {
    color: red;
}
#list{
    display: flex;
    align-items: center;
    justify-content: center;
}
#list button{
    margin-left: 10px;
    background-color: rgb(236, 235, 134);
    border: 2px solid rgb(12, 80, 92);
    border-radius: 10px;
    color: rgb(25, 145, 167);
    font-weight: bold;
}

#listContent {
   font-size: 20px;
}

.listContentActive {
    text-decoration: line-through;
}